@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  font-weight: 400;
  letter-spacing: 2px;
}
html {
  scroll-behavior: smooth;
}
.styledFont {
  font-family: "Pacifico", cursive;
}
